<div style="font-family: sans-serif; padding-left: 60px; padding-right: 60px;">
    <h1>Multimodal Text Editor</h1>
    <video id="hello" width="0" height="0"></video>
    <div style="display:flex; flex-direction: row;">
        <div>
            <quill-editor [(ngModel)]="curret_text" (onEditorCreated)="created($event)"
                (onContentChanged)="contentChanged($event)" style="margin-bottom: 100px; height: 1000px;">
            </quill-editor>
            <div style="display:flex; flex-direction: row; justify-content: right; padding-top: 10px;">
                <button mat-raised-button color="primary" (click)="download()" style="margin-right: 10px">Download
                    <mat-icon>thumb_down</mat-icon>
                </button>
                <button mat-raised-button color="primary" (click)="upload()">Upload
                    <mat-icon>thumb_up</mat-icon>
                </button>
            </div>
        </div>
        <div style="padding-left: 10px;">
            <canvas class="output_canvas" width="320px" height="180px"></canvas>
            <p style="text-transform:uppercase" class="centered">{{gesture}}</p>
        </div>
    </div>
</div>