<div class="page-container">
    <h1>Multimodal Text Editor</h1>
    <div class="container">
        <div class="editor-container">
            <quill-editor class="quill-editor" [(ngModel)]="currentText" (onEditorCreated)="loadCachedEditor($event)"
                (onContentChanged)="editorContentChanged($event)">
            </quill-editor>
            <div class="editor-menu">
                <div style="width: 30%;">
                    <div>
                        <button mat-raised-button class="down-button" color="primary" (click)="downloadFile()">Download
                            <mat-icon>thumb_down</mat-icon>
                        </button>
                        <button color="primary" type="button" mat-raised-button (click)="fileInput.click()">Upload
                        </button>
                        <input hidden (change)="uploadFile()" #fileInput type="file" id="file">

                    </div>
                    <div>
                        <input (change)="changeFilename($event)" #filenameInput type="text" id="filenameInput">
                    </div>
                </div>
                <div style="width: 40%">
                    <h2>HOW TO VOCAL</h2>
                    <p>
                        {{wakeWord | uppercase }} : Wake word for vocal command. Only after visually
                        started.
                    </p>
                    <p>
                        {{"File" | uppercase }} : After saying file dictate new filename.
                    </p>
                    <p>
                        {{"New Line" | uppercase }} : Add new line.
                    </p>
                </div>

                <div style="width: 30%">
                    <h2>HOW TO VISUAL</h2>
                    <p>
                        <mat-icon>thumb_up</mat-icon> Start audio and video input
                    </p>
                    <p>
                        <mat-icon>thumb_down</mat-icon> Download editor content
                    </p>
                    <p>
                        <mat-icon svgIcon="stop_hand"></mat-icon> Stop audio and video input
                    </p>
                    <p>
                        <mat-icon svgIcon="pointing_hand"></mat-icon> Add new line
                    </p>
                    <p>
                        <mat-icon svgIcon="closed_fist"></mat-icon> Convert current line to header.
                    </p>
                </div>
            </div>
        </div>
        <div class="side-menu">
            <div class="video-container">
                <video id="videoFeed" width="0" height="0"></video>
                <canvas class="output_canvas video-feed"></canvas>
                <p class="sign-label">{{gesture}}</p>
            </div>
            <div class="visual-feed">
                <img class="visual-content"
                    [src]="triggered ? ( audio_command ? 'assets/ezgif-3-neg.gif' : 'assets/ezgif-4-860c960ac5.gif' ): 'assets/image.jpg'"
                    alt="">
            </div>
            <div>
                <h2>Audio Input</h2>
                <p>{{audioInput}}</p>
            </div>
        </div>
    </div>
</div>